body{
    background-color: ghostwhite;
}


#lineChart {
    color: black;
    fill: black;

}
#lineChart line{
    color: grey;
}



#title{
    color: black;
    font-size: 2em;
    font-weight: bold;
}

.axis-name{
    color: black;
    fill: black;
    font-weight: 700;
    font-size: 12px;
}
#tooltip {
    position: absolute;
    display: none;
    background: #fff;
    border: 1px solid #ddd;
    font-size: 12px;
    font-weight: 500;
    padding: 8px;
    min-width: 160px;
    color: #333;
}

#lineChart_tooltip {
    position: absolute;
    display: none;
    background: #ffffff;
    border: 1px solid #ddd;
    font-size: 12px;
    padding: 8px;
    min-width: 50px;
    color: #333;
    border-radius: 5px;
    opacity: 0.9;
}

.tick{
    color: black;
    fill: black;
}
.tick line{
    color: #4A5568;
    fill:  #4A5568;
    pointer-events: none;

}

.custom{
    cursor: pointer;

}


